/* Contact Section */
#contact {
    padding: 60px 20px;
    background-color: #f9f9f9;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
}

#contact h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 15px;
}

#contact p {
    font-size: 1em;
    color: #555;
    margin-bottom: 30px;
}

/* Form Styling */
#contactForm {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #626fc6; /* Accent color */
    box-shadow: 0 0 5px rgba(98, 111, 198, 0.5);
}

.submit-btn {
    padding: 12px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #626fc6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #5a54cc;
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif; 
    padding: 20px;
    margin-left: 190px;
    background-color: #f9f9f9;
    clear: both; /* Clears all floats */
}
@media (max-width: 768px) {
    footer {
        text-align: center;
        padding: 10px 0;
        margin: 0 auto;
    }